#menorah { position:absolute; top: 10px; left: 10px; z-index: 2; } 
/*#candle { position:absolute; top: 82px; left: 707px; z-index: 3; }*/
/*#candle { position:absolute; top: 62px; left: 707px; z-index: 3; }*/
/*#candle { position:absolute; top: 62px; left: 707px; z-index: 3; }*/
/*#candle { position:absolute; top: 50px; left: 719px; z-index: 3; }*/
/*#candle { position:absolute; top: 30px; left: 740px; z-index: 3; }*/
/*#candle { position:absolute; top: 20px; left: 760px; z-index: 3; }*/
#flame1 { position:absolute; top: 100px; left: 880px; z-index: 1; }
#flame2 { position:absolute; top: 100px; left: 835px; z-index: 1; }
#flame3 { position:absolute; top: 100px; left: 788px; z-index: 1; }
#flame4 { position:absolute; top: 100px; left: 745px; z-index: 1; }
#flame5 { position:absolute; top: 100px; left: 658px; z-index: 1; }
#flame6 { position:absolute; top: 100px; left: 614px; z-index: 1; }
#flame7 { position:absolute; top: 100px; left: 568px; z-index: 1; }
#flame8 { position:absolute; top: 100px; left: 524px; z-index: 1; }
#wholeCandle { position:absolute; top: 132px; left: 708px; z-index: 3; width: 3px; height: 10px;}

#candlestick { position:absolute; top: -20px; z-index: 3; width: 11px; height: 60px; background-color: white}
#wick { position:absolute; top:-30px; left:4px; z-index: 3; width: 3px; height: 10px; background-color: black}
#flame0 { position:absolute; top:-45px; left:-7px; }
#flameProper { position:relative; top:-10px; left:-0x; z-index: 5;}

#currentDate {position: absolute; top: 240px; left: 200px; z-index: 8; background-color: #253572; color: white; font-size: 1em}


#day {position: absolute; top: 270px; left: 200px; z-index: 8; background-color: #253572; color: white; font-size: 1em}

#clickMsg {position: absolute; top: 300px; left: 200px; z-index: 8; background-color: #253572; color: white; font-size: 1em; font-style:italic;}
#day:hover { font-style:italic}
#currentDate:hover { font-style:italic}

#clickMsg {position: absolute; top: 300px; left: 200px; z-index: 8; background-color: #253572; color: white; font-size: 1em; font-style:italic; display:none}

#clickMsg2 {position: absolute; top: 300px; left: 200px; z-index: 8; background-color: #253572; color: white; font-size: 1em; font-style:italic; display:none}

